#root {
  background: #fff;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}

.mb-0 {
  margin-bottom: 0;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}



@media screen and (max-width: 500px) {
  #root {
    padding: 0 8px;
    margin: 0 auto;
    overflow: hidden;
  }

  .container {
    padding: 0px
  }
}


.messageItemWrapper {
  display: inline-block;
}

.messageSender {
  display: flex;
  justify-content: flex-end;
}

.messageItemWrapper .messageItem {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  background: #d3d3de;
  border: 1px solid #d3d3de;
  border-radius: 6px;
}

.messageFormWrapper {
  width: 100%;
  height: 48px;
  /* position: sticky;
  bottom: 0;
  left: 0;
  background: #fff;
  border: 1px solid #d3d3de; */
}

/* Ove */
.ant-list .ant-list-items {}

.ant-list .ant-list-footer {
  padding: 0;
}

.ant-list-header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff !important;
  z-index: 100;
}

.ant-list .ant-list-footer {
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: #fff !important;
  z-index: 100;
}

.ant-drawer .ant-drawer-body {
  padding: 0;
}